<h1>ĐĂNG KHÓA HỌC</h1>
<form method="POST" action="/courses/store">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <input type="text" class="form-control" id="des" name="description">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">videoId</label>
    <input type="text" class="form-control" id="videoId" name="videoId">
  </div>
  <button type="submit" class="btn btn-primary">Thêm khóa học</button>
</form>