{{!-- VIEW COURSE --}}
<h1>{{course.name}}</h1>
<div class="card" style="width: 18rem;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="card-body">
    <p class="card-text">{{course.description}}</p>
</div>
</div>